{{ form_start(formSala) }}
    {{ form_widget(formSala) }}
    <button class="btn btn-success">
        <i class="fas fa-save"></i>
        {{ button_label|default('Guardar') }}
    </button>
{{ form_end(formSala) }}