<form method="post"
      action="{{ path('departamentos_delete',{'id': departamento.id}) }}"
      onsubmit="return confirm('¿Esta seguro de eliminar este Departamento?');">

    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ departamento.id) }}">
    <button class="btn btn-danger">
        <i class="far fa-trash-alt"></i>
        Eliminar
    </button>
</form>
