{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}|Edit Departamentos
{% endblock %}

{% block body %}
    <h1>Editar Departamento</h1>

    {{ include('departamentos/_form.html.twig', {'button_label': 'Guardar'}) }}

    <a href="{{ path('departamentos_index') }}">Volver</a>

    {{ include('departamentos/_delete_form.html.twig') }}
{% endblock %}
