{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}|Departamento|Nuevo
{% endblock %}

{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h1>Nuevo Departamento</h1>
                <div class="table-responsive">
                    {# Renderizamos el Formulario generado de DepartamentoType #}
                    {{ include('departamentos/_form.html.twig') }}

                    {# Boton de VOLVER #}
                    <a class="btn btn-primary" href="{{ path('departamentos_index') }}">
                        <i class="bi bi-arrow-return-left"></i>
                        Volver
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
