{% extends 'base.html.twig' %}

{% block title %}New Departamentos{% endblock %}

{% block body %}
    <h1>Crear Nuevo Departamento</h1>

    {{ include('departamentos/_form.html.twig') }}

    <a href="{{ path('departamentos_index') }}">Volver</a>
{% endblock %}
