{% extends 'base.html.twig' %}

{% block title %}New Departamentos{% endblock %}

{% block body %}
    <h1>Create new Departamentos</h1>

    {{ include('departamentos/_form.html.twig') }}

    <a href="{{ path('departamentos_index') }}">back to list</a>
{% endblock %}
