{% extends 'base.html.twig' %}

{% block title %}Editar Función{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h5 class="card-header">Editar Función</h5>
        </div>

        <div class="card-body">
            {{ include('funciones/_form.html.twig', {'button_label': 'Actualizar'}) }}

            <a class="btn btn-info" href="{{ path('funciones_index') }}">
                <i class="bi bi-arrow-return-left "></i>
                Volver
            </a>

            {{ include('funciones/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
