{% extends 'base.html.twig' %}

{% block title %}Nueva Función{% endblock %}

{% block body %}
    <h1>Nueva Función</h1>

    {{ include('funciones/_form.html.twig') }}

    <a class="btn btn-info" href="{{ path('funciones_index') }}">
        <i class="bi bi-arrow-return-left "></i>
        Volver a lista anterior
    </a>
{% endblock %}
