{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}|Principal
{% endblock %}

{% block body %}
    <!-- Small boxes (Stat box) -->
    <div class="card">
        <div class="card-body">
            <div class="row">
                <!--Mod Conciliacion de Casos-->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner align-text-center">
                            <h1>Modulo de Conciliacion de Casos</h1>
                        </div>
                        <div class="icon">
                            <i class="ion bi-inboxes-fill"></i>
                        </div>
                        <a href="#" class="small-box-footer">Ingresar <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!--Mod Agenda de Conciliaciones-->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h1>Modulo de Agenda de Conciliaciones</h1>
                        </div>
                        <div class="icon">
                            <i class="ion bi-calendar3"></i>
                        </div>
                        <a href="#" class="small-box-footer">Ingresar<i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- Mod Reportes estadisticos -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                        <div class="inner">
                            <h1>Modulo de Reportes Estadisticos</h1>
                        </div>
                        <div class="icon">
                            <i class="ion bi bi-bar-chart-line-fill"></i>
                        </div>
                        <a href="#" class="small-box-footer">Ingresar<i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!--Mod Gestion de Usuarios-->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h1>Modulo de Gestión de Usuarios</h1>
                        </div>
                        <div class="icon">
                            <i class="ion bi bi-person-check-fill"></i>
                        </div>
                        <a href="#" class="small-box-footer">Ingresar<i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
            </div>
            <!-- /.row -->
        </div>
    </div>

{% endblock %}
