<form method="post" action="{{ path('documentacion_delete', {'id': documentacion.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ documentacion.id) }}">
    <button class="btn">Delete</button>
</form>
