{% extends 'base.html.twig' %}

{% block title %}New Documentacion{% endblock %}

{% block body %}
    <h1>Create new Documentacion</h1>

    {{ include('documentacion/_form.html.twig') }}

    <a href="{{ path('documentacion_index') }}">back to list</a>
{% endblock %}
