<form method="post"
      action="{{ path('solicitud_delete', {'id': solicitud_conciliacion.id}) }}"
      onsubmit="return confirm('¿Esta seguro de eliminar esta SOLICITUD?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ solicitud_conciliacion.id) }}">

    <button class="btn btn-danger">
        <i class="bi bi-trash"></i>
        Eliminar
    </button>
</form>
