{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}|Editar Solicitud
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="card" style="width: 50rem;">
            <div class="card-body">
                <h2>Editar Solicitud</h2>
                <hr>

                {{ include('solicitud/_form.html.twig', {'button_label': 'Actualizar'}) }}

                <a class="btn btn-primary" href="{{ path('solicitud_index') }}">
                    <i class="bi bi-arrow-return-left"></i>
                    Volver
                </a>
                <a class="btn">
                    {{ include('solicitud/_delete_form.html.twig') }}
                </a>

            </div>
        </div>
    </div>




{% endblock %}
