{% extends 'base.html.twig' %}

{% block title %}Edit SolicitudConciliacion{% endblock %}

{% block body %}
    <h1>Edit SolicitudConciliacion</h1>

    {{ include('solicitud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('solicitud_index') }}">back to list</a>

    {{ include('solicitud/_delete_form.html.twig') }}
{% endblock %}
