<form method="post"
      action="{{ path('actividad_delete', {'id': actividad.id}) }}"
      onsubmit="return confirm('¿Esta Segur@ de eliminar esta actividad?');">

    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ actividad.id) }}">
    <button class="btn btn-danger">
        <i class="far fa-trash-alt"></i>
        Eliminar
    </button>
</form>
