{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}|Actividad|Edit
{% endblock %}

{% block body %}
    <div class="container d-flex justify-content-center">
        <div class="card">
            <div class="card-body">
                <h3 class="font-weight-bold">Editar datos de la Actividad</h3>
                {{ include('actividad/_form.html.twig', {'button_label': 'Actualizar'}) }}

                <a class="btn btn-primary" href="{{ path('actividad_index') }}">
                    <i class="bi bi-arrow-return-left"></i>
                    Volver
                </a>
                <a class="btn">
                    {{ include('actividad/_delete_form.html.twig') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}