{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}|Actividad|New
{% endblock %}

{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h3>Nueva Actividad</h3>
                {{ include('actividad/_form.html.twig') }}
                <a class="btn btn-primary" href="{{ path('actividad_index') }}">
                    <i class="bi bi-arrow-return-left"></i>
                    Volver
                </a>
            </div>
        </div>
    </div>
{% endblock %}
