{% extends 'base.html.twig' %}

{% block title %}New Actividad{% endblock %}

{% block body %}
    <h1>Create new Actividad</h1>

    {{ include('actividad/_form.html.twig') }}

    <a href="{{ path('actividad_index') }}">back to list</a>
{% endblock %}
