<form method="post"
      action="{{ path('centro_delete', {'id': centro.id}) }}"
      onsubmit="return confirm('¿Está seguro de que desea eliminar este Centro?');">

    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ centro.id) }}">
    <a class="btn btn-danger" href="">
        <i class="far fa-trash-alt"></i>
        Eliminar
    </a>
</form>
