{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}|Editar centro
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Editar Centro</h1>
        {{ include('centro/_form.html.twig', {'button_label': 'Guardar'}) }}

        <a class="btn btn-primary" href="{{ path('centro_index') }}">
            <i class="bi bi-arrow-return-left"></i>
            Volver
        </a>

        {{ include('centro/_delete_form.html.twig') }}
    </div>

{% endblock %}
