{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}|Ver Perfil
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="card" style="width: 50rem;">
            <div class="card-body">
                <h2>Editar Perfil</h2>
                <hr>
                {{ dump(vista_perfil) }}
            </div>
        </div>
    </div>
{% endblock %}


