{% extends 'base.html.twig' %}

{% block title %}New UsuarioExterno{% endblock %}

{% block body %}
    <h1>Create new UsuarioExterno</h1>

    {{ include('externo/_form.html.twig') }}

    <a href="{{ path('externo_index') }}">back to list</a>
{% endblock %}
